.homeContainer{
  background-image: linear-gradient(to bottom, #FF9933, #FFFFFF, #138808);
  background-size: 100%;
  background-repeat: no-repeat;
}

.titleBar {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: sans-serif;
  height: 100px;
  padding: 20px;
}

.mapWrapper {
  height: 800px;
}

@media (max-width: 800px) {
  .mapWrapper {
    width: 100%;
  }
}

.svgMap {
  height: 100%;
  width: 100%;
}

.svgMap > path {
  fill: rgb(224, 101, 101);
  stroke: gray;
}

.svgMap > path:hover {
  fill: aliceblue;
  stroke: black;
}

.mapInfoCardWrapper {
  width: 400px;
  height: 300px;
  padding: 18px;
  margin: 80px;
}

@media (max-width: 800px) {
  .mapInfoCardWrapper {
    margin: 20px;
    width: 90%;
  }
}

.mapInfoCard {
  min-height: 200px;
}

.coronaIcon {
  animation: mymove 10s infinite;
  animation-timing-function: linear;
  margin: 0 8px;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.currStateInfo {
  font-size: 16px;
}

.stateName {
  font-weight: bold;
}

.stateActive {
  font-weight: bold;
  color: black;
}

.statePositive {
  font-weight: bold;
  color: orange;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.stateCured {
  font-weight: bold;
  color: #3cd070;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.stateDeath {
  font-weight: bold;
  color: red;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.lowerSection {
  display: flex;
  justify-content: center;
  gap: 120px;
}

@media (max-width: 800px) {
  .lowerSection {
    flex-direction: column;
    gap: 0px;
  }
}

.mapInfoCard {
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 20px;
  backdrop-filter: blur(6px);
  padding: 24px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
